*{
    
}

.inner{
    padding-top: 20px;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    top: 1250px;
    margin-left: 90px;

}

.header{
    text-align: center;
    color: #333;
    padding: 1 rem;
    position: relative;
}

.header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    background-color: #2ecc71;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2 rem;
}

.skill-box{
    display: flex;
    color: #ddd;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5 rem;
    margin-bottom: 0.5rem;
}


